<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movies</ion-title>
    <ion-buttons [collapse]="true" slot="end" >
      <ion-button (click)="scrollToTop()">Top</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content #mainContent [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>

    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
        [animated]="true"
        placeholder="Search movies"
        show-cancel-button="focus"
        cancel-button-icon="trash"
        cancel-button-text="Cancel"
        (ionChange)="onSearchSubmit($event)"
        (ionCancel)="onSearchCancel()"
      ></ion-searchbar>
      <div class="subtitle ion-padding-horizontal">
        Popular this week
      </div>
    </ion-toolbar>
  </ion-header>




  <div class="movies-grid ion-padding">
    @for (m of movies; track m.id){
      <app-movie-card [movie]="m" (cardClicked)="openRatingModal($event)"></app-movie-card>
    }
  </div>
</ion-content>
